/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ===== Root Variables ===== */
:root {
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #00bf63;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #333;
    --text-color-light: #707070;
    --icon-color-light: #05a616;
    --popup-bg: rgba(255, 255, 255, 0.9);
    --popup-text: #333;
    --popup-btn-bg: #00bf63;
    --popup-btn-text: #fff;
    --popup-close-color: #ccc;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

/* ===== Dark Theme Variables ===== */
body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --icon-color-light: #ffc107;
    --popup-bg: rgba(33, 33, 33, 0.9);
    --popup-text: #fff;
    --popup-btn-bg: #ffc107;
    --popup-btn-text: #000;
    --popup-close-color: #888;
}

/* ===== Body ===== */
body {
    min-height: 100vh;
    background-color: var(--body-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    transition: background-color var(--tran-05), color var(--tran-05);
}

/* ===== Selection ===== */
::selection {
    background-color: var(--primary-color);
    color: #fff;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar .icon, .sidebar header .image {
    min-width: 60px;
    height: 1%;
    border-radius: 50%;
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    transition: var(--tran-03);
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
}

.text nav-text {
    color: #28a745;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    color: var(--text-color-light);
    background-color: transparent;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon, .sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon, body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(95% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    margin: 5px;
    height: 5px;
    width: 50px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position:relative;
    padding-right: 25px;
    right: 0;
    height: 100%;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    display: flex;
    position: relative;
    height: 22px;
    width: 35px;
    left: 7px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

/* ===== Home ===== */
.home {
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.sidebar.close ~ .home {
    left: 88px;
    width: calc(100% - 88px);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 20px;
}

/* ===== Header ===== */
header {
    background-color: #f1f1f1;
    color: rgb(0, 0, 0);
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body.dark header {
    background-color: var(--sidebar-color);
    color: var(--text-color);
}

.logo {
    margin: 0px;
    height: 50px;
    width: 30px;
}

/* ===== Reset Counter ===== */
.reset-counter {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 15px 25px 10px 2px;
}

.reset-icon {
    margin-right: 5px;
    font-size: 18px;
    cursor: pointer;
}

.reset-counter-text {
    font-size: 15px;
    font-weight: 500;
}

/* ===== Popup ===== */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--popup-bg);
    color: var(--popup-text);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
}

.popup h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.popup p {
    font-size: 16px;
    margin-bottom: 20px;
}

.popup .popup-btn {
    background-color: var(--popup-btn-bg);
    color: var(--popup-btn-text);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.popup .popup-btn:hover {
    background-color: var(--primary-color);
}

.popup .popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: var(--popup-close-color);
    cursor: pointer;
}

/* ===== Mobile Menu ===== */
.nav-menu {
    display: none;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

body.dark .menu-icon {
    color: var(--text-color);
}

@media screen and (max-width: 768px) {
    .nav-menu {
        display: block;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: var(--sidebar-color);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 8px 8px;
        padding: 10px 20px;
    }

    .nav-menu a {
        color: var(--text-color);
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid var(--primary-color);
    }

    .nav-menu a:last-child {
        border-bottom: none;
    }

    .nav-menu.open {
        display: block;
    }
}

/* ===== Battery Progress Bar ===== */
.progress {
    height: 100%;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
}

.battery-container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.battery-container .percentage {
    font-size: 16px;
    font-weight: 500;
}

.battery-container #carga {
    background-color: var(--primary-color-light);
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
}

body.dark .battery-container #carga {
    background-color: var(--primary-color);
}

.battery-container #carga .progress {
    background-color: var(--primary-color);
}

body.dark .battery-container #carga .progress {
    background-color: var(--icon-color-light);
}

/* ===== Sensors Data ===== */
.sensor-container {
    display: flex;
    margin: 10px 10px 10px 10px;
    flex-wrap: wrap;
    gap: 1px; /* Espacio entre las tarjetas */
    justify-content: space-between; /* Alinea las tarjetas en una fila */
}

.sensor-data {
    background-color: #f0f0f0; /* Color claro para sensores en modo claro */
    border-radius: 10px;       /* Bordes redondeados */
    padding: 10px;
    flex: 1 1 calc(25% - 20px); /* Ajuste para el ancho de cada sensor, 4 sensores por fila */
    max-width: calc(25% - 20px); /* Máximo ancho para 4 sensores por fila */
    box-sizing: border-box;    /* Incluye el padding y el border en el ancho total */
    transition: background-color 0.3s ease;
}

/* Modo oscuro */
body.dark .sensor-data {
    background-color: #333; /* Color oscuro para sensores en modo oscuro */
}

/* Responsividad */
@media screen and (max-width: 1024px) {
    .sensor-data {
        margin-bottom: 20px;
        flex: 1 1 calc(33.33% - 20px); /* 3 sensores por fila en pantallas medianas */
        max-width: calc(33.33% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .sensor-data {
        flex: 1 1 calc(50% - 20px); /* 2 sensores por fila en pantallas pequeñas */
        max-width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .sensor-data {
        flex: 1 1 100%; /* 1 sensor por fila en pantallas muy pequeñas */
        max-width: 100%;
    }
}

.sensor-data .value {
    font-weight: 500;
}


/* ===== Estilos para los íconos en modo claro ===== */
.device-icon {
    color: #333333; /* Color para modo claro */
}

.reset-icon {
    color: #c6e70a; /* Color para modo claro */
}

.barcode-icon {
    color: #4CAF50; /* Color para modo claro */
}

.ip-icon {
    color: #FF5722; /* Color para modo claro */
}

.wifi-icon {
    color: #2196F3; /* Color para modo claro */
}

.signal-icon {
    color: #FFC107; /* Color para modo claro */
}

.co-icon {
    color: #009688; /* Color para modo claro */
}

.temperature-icon {
    color: #FF9800; /* Color para modo claro */
}

.humidity-icon {
    color: #9C27B0; /* Color para modo claro */
}

/* ===== Estilos para los íconos en modo oscuro ===== */
body.dark .device-icon {
    color: #CCCCCC; /* Color para modo oscuro */
}

body.dark .barcode-icon {
    color: #A5D6A7; /* Color para modo oscuro */
}

body.dark .ip-icon {
    color: #FFAB91; /* Color para modo oscuro */
}

body.dark .wifi-icon {
    color: #90CAF9; /* Color para modo oscuro */
}

body.dark .signal-icon {
    color: #FFD54F; /* Color para modo oscuro */
}

body.dark .co-icon {
    color: #80CBC4; /* Color para modo oscuro */
}

body.dark .temperature-icon {
    color: #FFB74D; /* Color para modo oscuro */
}

body.dark .humidity-icon {
    color: #CE93D8; /* Color para modo oscuro */
}


/* ===== Footer ===== */
footer {
    background-color: var(--primary-color-light);
    color: var(--text-color);
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

body.dark footer {
    background-color: var(--primary-color);
    color: var(--text-color);
}

body.dark footer a {
    color: var(--popup-btn-bg);
}

body.dark footer a:hover {
    color: var(--popup-btn-text);
}

/* ===== Tomas (Relés) ===== */
.rele-box {
    padding: 10px;
    flex: 1 1 calc(16.66% - 10px);
    box-sizing: border-box;
    margin: 25px;
    text-align: center;
    border-radius: 7px;
    background: #ffffff; /* Color para el modo claro */
    color: #333; /* Color de texto para el modo claro */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición para cambios de modo */
}

body.dark .rele-box {
    background: #1e1e1e; /* Color de fondo para el modo oscuro */
    color: #fff; /* Color de texto para el modo oscuro */
}

/* Responsiveness */
@media (max-width: 768px) {
    .rele-box {
        flex: 1 1 calc(33.33% - 10px);
    }
}

@media (max-width: 480px) {
    .rele-box {
        flex: 1 1 calc(50% - 10px);
    }
}

.rele-box {
    background: #fff;
    /* border: 1px solid #252424; */
    border-radius: 8px;
    padding: 15px;
    margin: 5px;
    font-size: 16px;
    text-align: center;
    width: 1 1 calc(33.333% - 20px); /* 3 columnas y resta el espacio de los márgenes */
    box-sizing: border-box;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

.rele-box h2 {
    margin: 2 0 10px;
}

.rele-box p {
    margin: 10px 0;
}

/* Modo oscuro */
body.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-theme .rele-box {
    background: #1e1e1e;
    border: 1px solid #333;
}

/* Estilos para el footer */
footer {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 15px 0;
    position: absolute; /* Cambiado a absolute para que se adhiera al fondo si el contenido es corto */
    bottom: 0;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilos para los enlaces del footer */
footer a {
    color: #333;
    text-decoration: none;
}

/* Estilos para el modo oscuro */
body.dark-theme footer {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-theme footer a {
    color: #e0e0e0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    footer {
        padding: 10px 0;
        font-size: 14px; /* Tamaño de fuente más pequeño en pantallas pequeñas */
        position: relative; /* Cambiado a absolute para que se adhiera al fondo si el contenido es corto */
    }
}

@media (max-width: 480px) {
    footer {
        padding: 8px 0;
        font-size: 12px; /* Tamaño de fuente aún más pequeño en pantallas muy pequeñas */
        position: relative; /* Cambiado a absolute para que se adhiera al fondo si el contenido es corto */
    }
}


/* Estilos para los switches */
/* Contenedor para los relés */
.reles-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten si no caben en una sola fila */
    gap: 0px; /* Espacio entre las columnas */
}

/* Contenedor de cada relé */
.rele-box {
    flex: 1 1 calc(80% / 5 - 25px); /* 6 columnas y resta el espacio de los márgenes */
    box-sizing: border-box; /* Asegura que el padding y el borde no afecten el tamaño total */
    text-align: center;
    margin: 10px;
}

/* Estilos para los switches */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.slider.rele {
    background-color: #e61717;
}

input:checked + .slider {
    background-color: #11bc28;
}

input:checked + .slider:before {
    transform: translateX(22px);
}

/* Opcional: estilo para los iconos */
.fas {
    margin-right: 5px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Ajusta según sea necesario */
}

.text {
    font-size: 1.5em;
    font-weight: bold;
}

.reset-counter {
    display: flex;
    align-items: center;
    font-size: 1em;
}

.reset-text {
    margin-right: 5px;
}

.info-icon {
    cursor: pointer;
}

.popup.hidden {
    display: none;
}

.popup-content {
    text-align: left;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.2em;
}

.lamp-icon {
    display: inline;
    padding-top: 20px;
    font-size: 24px;
    margin-left: 10px;
    color: red; /* Por defecto, el ícono será rojo (relé desactivado) */
}

.lamp-icon.active {
    color: #08a25a; /* Cambia a amarillo cuando el relé está activado */
}


.fa-plug:before {
    content: "\f1e6";
    font-size: 26px !important;
    margin: 2px;
}